$bg-color:#333;
$font-color:#fff;

body{
  background:$bg-color;
  color:$font-color;
  margin: 0;
  padding:0;
}

.head-one {
  background:url("https://gazettereview.com/wp-content/uploads/2016/04/dr-dre.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding-bottom:320px;
  opacity: 0.75;
}


.head-one ul {
  list-style-type: none;
  margin-top:-80px;
  margin-right:20px;
  padding:0;
  overflow: hidden;
}

.head-one li {
  float: right;
  color:white;
  color:#fff;
  font-weight: bold;
}

.head-one li a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  margin-top: 10px;
  text-align: center;
  color:white;
  font-size:20px;
}

.head-one li a:hover{
  border-bottom:2px solid red;
  color:red;
  font-weight: bold;
}

.head-one img {
  margin-top:30px;
  margin-left:20px;
  opacity: none;
  width:80px;
}


header .text{
  font-weight: bold;
  margin-top:150px;
  margin-left:100px;
  font-family: sans-serif;
  color:white;
}

header form {
  float:right;
  color:#fff;
  font-weight: bold;
  margin-right:20px;
}

.text1  {
  margin-left:135px;
  margin-top:10px;
  font-size:14px;
  font-weight: italic;
  color:white;
}

form input {
  border-radius: 10px;
  color:#333;
  font-weight: bold;
  margin-right:10px;

}

header button{
  background-color:red;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right:40px;
  color:$font-color;
  padding:6px;
}


.flex-3 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  background-color:rgb(247, 247, 248);
  justify-content: space-between;
  height:550px;

}
/*
#image {
  margin-top:100px;
  margin-left:30px;
  border-radius: 20px;

}

#image1 {
  margin-top:100px;
  margin-left:20px;
  border-radius: 20px;
  opacity: 0.90;

}

#image3 {
  margin-top:90px;
  margin-left:20px;
  border-radius: 20px;
  opacity: 0.50;

}*/

#image1 {
  margin-top:150px;
  margin-left:100px;
  border-radius: 20px;
  margin-right:20px;
  margin-bottom:100px;

}

#image {
  margin-top:90px;
  margin-left:20px;
  border-radius: 20px;
}



#title {
  margin-top:40px;
  text-align: center;
  margin-bottom:-70px;
  padding-top:30px;
  margin-top:-10px;
  text-transform: uppercase;
  padding-top:10px;
  color:#333;

}

/* Product */
#product {
  background:rgb(247, 247, 247);
  margin:0;
  padding:0;
  padding-top:90px;
}

#product h3 {
  color:#333;
  font-family: sans-serif;
  font-size:40px;
  font-weight: bold;
  padding-top:50px;
  text-align: center;
  padding-bottom:20px;
  margin-bottom: 20px;

}

.grind {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom:30px;
}

.grind > div {
  padding:0;
  padding-top:20px;
  color:#333;
  font-weight: bold;
  font-size:25px;

}

grind #1:hover{
  opacity: 0.50;
  border:1px solid red;

}







.header1 {
  margin-top:30px;
  text-align: center;
}

.header1 h2 {
  font-weight: bold;
  font-size:35px;
  line-height: 40px;
  padding-bottom:1px;
  padding-top:20px;

}


.text3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:20px;
  padding-bottom: 20px;
}

.text3 > i {
  padding: 20px;
  margin-top:40px;
  margin-left:100px;
  margin-right: 100px;
  margin-bottom: 40px;
  opacity: 0.80px;
}

.fa-facebook-square:hover{
  background-color:blue;
}
.fa-google:hover{
  background-color:red;
  border-radius: 10px;
}
.fa-twitter:hover{
  background-color:lightblue;
  border-radius: 50%;
}

.fa-instagram:hover{
  background-color:purple;
  border-radius: 50%;
}

.fa-spotify:hover {
  background-color:green;
  border-radius: 50%;
}

i:hover{
  opacity: none;
  cursor: pointer;
  background-color: red;
}

/* Video container */
.video-container {
  width:100%;
  height:600px;
  overflow:hidden;
  position: relative;
}

/* video page */
#videos {
  padding-top:40px;
  padding-bottom:none;
}


#videos h1 {
  margin-top:80px;
  margin-left:60px;
  margin-bottom: 30px;
  line-height: 2.5em;
  color:#fff;
  position: absolute;
  left:180px;
  z-index:20;


}

#videos i {
  font-size:20px;
  text-align: center;
  margin-right:30px;
}

#video p {
  position: relative;
  z-index:1;
}

/*
#videos video {
    min-width: 100%;
    height:100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;

}

.title {
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  transform:translate(-50%,-50%);
}

.contents h2 {
  font-size:3em;
  font-family: arial;
  margin:10px 0;
  color:#333;

}
*/
/* Footer */
footer{
  background:#333;
  padding-top:5px;
  padding-bottom:5px;
  margin:none;

}

footer .flex1 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .logo {
  padding-left:50px;
  margin-top:20px;
}
.flex1 h1 {
  margin-left:120px;
  font-size:25px;
}

.flex1 ul {
  list-style-type: none;
  margin-left:100px;
  margin-top:30px;
  font-size:15px;
  line-height: 2.0em;
}

.flex1 form {
  float:right;
  font-size:15px;
  margin-top:55px;
  margin-left:30px;
  line-height: 2.5em;
}
.flex1 > div {
  margin-left:20px;
}

.flex1 ul li:hover {
  color:red;

}
